/* TalismanStone.css (or your existing CSS file) */

.hover14 figure {
    position: relative;
    overflow: hidden;
    transition: transform 0.6s;
}

.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -25%;
    right: -20%;
    z-index: 2;
    display: block;
    content: '';
    width: 25%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(35deg);
    animation: shine 2s infinite;
    /* Apply animation always */
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

@keyframes shine {
    100% {
        left: 220%;
    }
}

/* Additional styles for image sizing and layout */
.grid-item {
    
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transform: scale(0.7);
}

.grid-item img {

    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

/* .grid-item img:hover {
    transform: scale(1.1);
} */

/* Optional: Adjust grid and item spacing */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
}



.hover14 figure img {
    width: 100%;
    display: block;
    transition: transform 0.6s;
    backface-visibility: hidden;
}

.hover14 figure:hover img {
    transform: rotateY(180deg);
}

.hover14 figure .skill-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(360deg);
    opacity: 0;
    color: white;
    transition: opacity 0.6s;
}

.hover14 figure:hover .skill-text,
.hover14 figure img.active+.skill-text {
    opacity: 1;
    transform: translate(-50%, -50%) rotateY(0);
}